@import "tailwindcss";

@theme {
  --color-primary: #96DABE;
  --color-accent: #D41F26;
  --color-base: #FFFFFF;
  --color-text-main: #1F2937;
  --color-text-light: #4B5563;
  --color-bg-light: #F9FAFB;
}

body {
  @apply bg-base text-text-main font-sans antialiased;
}
